<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.runtime.remoting>
      <customErrors mode="off" />
    </system.runtime.remoting>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings><!--Servers urls-->
      <add key="tcp://localhost:8081/server1"/>
      <add key="tcp://localhost:8082/server2"/>
      <add key="tcp://localhost:8083/server3"/>
      <add key="tcp://localhost:8084/server4"/>
      <add key="tcp://localhost:8085/server5"/>
      <add key="tcp://localhost:8086/server6"/>
      <add key="tcp://localhost:8087/server7"/>
      <add key="tcp://localhost:8088/server8"/>
      <add key="tcp://localhost:8089/server9"/>
    </appSettings>
</configuration>