<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.runtime.remoting>
      <customErrors mode="off" />
    </system.runtime.remoting>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings><!--Servers urls-->
      <add key="tcp://localhost:3000/server1"/>
      <add key="tcp://localhost:3001/server2"/>
    </appSettings>
</configuration>