<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings> <!--PCSs urls-->
    <add key = "PCS1" value = "tcp://127.0.0.1:10000/PCSSERVICE"/>
    <add key = "PCS2" value = "tcp://127.0.0.2:10000/PCSSERVICE"/>
  </appSettings>
</configuration>